@use "../../styles/variables" as *;

.footer {
  background-color: $color-black;
  color: $color-white;
  text-align: center;
  padding: 1rem;

  .title {
    font-size: $font-md;
    font-family: 'Lobster';
    margin-bottom: 1.5rem;
  }

  .description {
    font-size: $font-sm;
    font-family: 'Open Sans';
    margin: 0 auto;
    color: #9e9e9e;
    max-width: 800px;
    line-height: 1.6;
    margin-bottom: 2rem;
  }

  .copyright {
    font-size: $font-sm;
    font-family: 'Open Sans';
    color: #9e9e9e;
    margin-top: 1rem;
   
  }
}
